:root {
  --clr-primary: #a97a6b;
  --clr-secondary: #eb7261;
  --clr-warning: #e1fd89;
  --clr-danger: #cd2c58;
  --clr-success: #49e44e;
  --clr-black: #505050;
  --clr-gray: #606060;
  --clr-white: #ffffff;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--clr-white);
  background: var(--clr-black);
  display: grid;
  place-content: center;
}

.shadow {
  box-shadow: 0 5px 5px 2px #333;
}

.border-r10 {
  border-radius: 10px;
}

.board {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 70px);
  gap: 10px;

  & .square {
    background: var(--clr-primary);
    background: var(--clr-gray);
    width: 100%;
    aspect-ratio: 1;
    border: none;
    cursor: pointer;
    color: var(--clr-white);
    font-size: 2rem;
    display: grid;
    position: relative;
    place-content: center;

    &[data-value='x']::before {
      content: '';
      position: relative;
      width: 50px;
      top: 5px;
      transform: rotate(45deg);
      height: 10px;
      background: var(--clr-primary);
      border-radius: 5px;
    }

    &[data-value='x']::after {
      content: '';
      position: relative;
      top: -5px;
      transform: rotate(-45deg);
      width: 50px;
      height: 10px;
      background: var(--clr-primary);
      border-radius: 5px;
    }

    &[data-value='o']::before {
      content: '';
      position: relative;
      width: 50px;
      height: 50px;
      background: var(--clr-secondary);
      border-radius: 50%;
    }

    &[data-value='o']::after {
      content: '';
      position: absolute;
      top: 20px;
      left: 20px;
      width: 30px;
      height: 30px;
      background: inherit;
      border-radius: 50%;
    }
  }
}

.status {
  margin-top: 1rem;
  height: 50px;
  /* outline: 1px solid red; */
  background: var(--clr-gray)
}